.confirmexit-container {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: auto;
  border-bottom: 0.5px solid #8c8c8c;
}

.confirmexit-wrap {
  width: 50%;
  height: 90%;
}

.confirmexit-title {
  font-size: 50px;
  font-weight: 300;
}

.confirmexit-content-wrap {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirm-button-wrap {
  display: flex;
}

.confirmexit-button {
  width: 150px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #8c8c8c;
  background-color: white;
}

.confirmexit-alert {
  font-weight: 300;
}
