body {
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  background-color: #eff3f7;
}

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap");

.font-style {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
}

#content {
  margin-top: 100px;
}
